<mat-card class="container">

    <mat-card-title>
        <p>Alteração de Senha</p>
    </mat-card-title>

    <mat-card-content>


        <form style="margin-top: 2rem;">

            <p>
                <mat-form-field class="input">
                    <input type="password" matInput placeholder="Senha atual">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="input">
                    <input type="password" matInput placeholder="Nova senha">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="input">
                    <input type="password" matInput placeholder="Confirme a nova senha">
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" type="submit" class="button">Entrar</button>

        </form>

    </mat-card-content>
</mat-card>