<h1 mat-dialog-title>Esqueci a Senha</h1>
<div mat-dialog-content>


  <div style="margin-right: 1rem;"> 

    <div style="font-size: 11px; margin-bottom: 1rem;">
      <b style="margin-left: 0.5rem;">Caro participante,</b>
      <p style="margin-left: 0.5rem;">Para gerar um acesso, digite os dados solicitados nos campos indicados.
         A senha de acesso será enviada para seu e-mail cadastrado.</p>
    </div>

    <mat-divider></mat-divider>
    
    <p>
      <mat-form-field style="width: 100%; margin-top: 2rem;">
        <input type="text" matInput placeholder="Digite seu CPF">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field style="width: 100%;">
        <input type="date" matInput placeholder="Data de Nascimento">
      </mat-form-field>
    </p>


    <button mat-raised-button color="primary" type="submit" style="width: 100%;">OK</button>

  </div>



</div>

